.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00e1ff;
  padding: 10px;
  color: white;
}

.navbar .logo {
  width: 50px;
}

.navbar .website-name {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5em;
  color: rgb(255, 38, 0);
}

.nav-buttons {
  display: flex;
}

.nav-button {
  background-color: #0d00ff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.nav-button:hover {
  background-color: #0056b3;
}
